{% extends "base.html" %}
{% block title %} Daily Digest | About Page {% endblock %}
{% block content %}

<hr>
<section class="container">
    <div class="row">
        <div class="col-12">
        <h5 class="feature-title">About Page</h5>
        <p>
        Daily Digest is blog website, that we aim to serve you with a round the clock news and happenings 
        around the globe whether it is sports, tech or business news. 
        Daily Digest has although just kicked started operation though not officially, but official date 
        will be announced as soon as we have available date as possible.
        <br> 
        <br>
        Our mission goal is to deliver unadulterated and community friendly news platform where our readers, or visitors of our website will be happy and satisfied with their time spent in the platform, and in line with the registrations against misinformation we will make sure to verify every news before publishing. So, back to the real idea of this project as a student of coding I want to build a website that describes the user's experience and below is what I am expected to see in the website.
        The site admin can manage a blog post by creating, reading, updating or deleting a post. 
        The site user can scroll through the list of post in order to view his or her choice post and read. 
        In the site a user can register an account to be able to comment or like a post.
        <br>
        <br>
        In this website, admin can view number of like on each post to see most viral posts of the day. 
        The site has a profile page for any registered user already has a profile account or wish to add a profile picture.
        Things to expect coming soon are as a user I can view number of views in each post to determine the most viewed post of the day,
         creating the unlike button, adding a function that will automatically allow user add their profile picture if they so wish 
         and adding edit profile account.
        </p>
    </div>
</div>
</section>
{% endblock content %}