{% extends "base.html" %}
{% block title %}Daily Digest | Profile Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">


<div class="container cardd">
    <br>
    <hr>
    <h1 class="page-title">Profile Page</h1>
    <div class="m-b-25"> <img src="https://res.cloudinary.com/daily_digest01/image/upload/v1656016833/placeholder_image_rosie.jpg">
    <img src=" {{ profile.image.url }}" alt="profile image" class="card-img-top">
    <h2 id="profile-h1">{{user.username|title}}</h2>
    <p class="title">{{user.email}}</p>
    <!-- My Socials -->
    <a href="" id="auth-links"><i class="fa fa-twitter"></i></a>
    <a href="" id="auth-links"><i class="fa fa-facebook"></i></a>
    <a href="" id="auth-links"><i class="fa fa-youtube"></i></a>
    <a href="" id="auth-links"><i class="fa fa-instagram"></i></a>
    <p><button id="btn-profile"><a href="#" id="auth-links">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Update Profile
    </a></button></p>
    </div>
</div>

{% endblock content %}
