{% extends 'base.html' %}
{% block title %} Daily Digest | My Page {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<!--Icon library-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h3 class="feature-title">My Page</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-12">
                <img src="https://res.cloudinary.com/dwzcuabfl/image/upload/v1708771458/static/summernote/summernote.5a782fa52e35.png"
                class="img-fluid featured-image" alt="placeholder image">
            <br>
            <!-- My Socials -->
            <h3 id="profile">{{user.username|title}}</h3>
            <p class="title">{{user.email}}</p>
            <a href="https://www.linkedin.com/" id="auth-links">LinkedIn</a>
            <a href="https://www.facebook.com/" id="auth-links">Facebook</a>
            <a href="https://twitter.com/" id="auth-links">Twitter</a>
            <a href="https://instagram.com/" id="auth-links">Instagram</a>
            
                <form method="post" class="add-post mb-5" enctype="multipart/form-data">
                    {{ p_form | crispy }}
                    {{ e_form | crispy }}
                </form>
            {% comment %}
            <!--<p><button id="btn-profile">
                <a href="#" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                User Profile
            </button></p>-->
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock content %}
